.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000;
    max-width: 1400px;
}

.logo {
    font-size: 2rem;
    font-weight: 400;
    color: black;
    font-family: "Raleway", sans-serif;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    color: black;
    font-size: 1.3rem;
    transition: opacity 0.3s ease;
}

.nav-links a:hover {
    opacity: 0.7;
}
